<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         cacheDirectory="/tmp/.phpunit.cache"
>
  <coverage/>
  <php>
    <!-- the value is the FQCN of the application kernel -->
    <env name="KERNEL_CLASS" value="App\Kernel"/>
    <env name="APP_ENV" value="test" force="true"/>
  </php>
  <testsuites>
    <testsuite name="all">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="job-definition">
      <directory>tests</directory>
      <exclude>tests/Mapping</exclude>
    </testsuite>
    <testsuite name="mapping-uncategorized">
      <directory>tests/Mapping</directory>
      <exclude>tests/Mapping/InputDataLoader/ABSInputDataLoaderTest.php</exclude>
      <exclude>tests/Mapping/InputDataLoader/BigQueryInputDataLoaderTest.php</exclude>
      <exclude>tests/Mapping/InputDataLoader/GCSInputDataLoaderTest.php</exclude>
      <exclude>tests/Mapping/InputDataLoader/InputDataLoaderTest.php</exclude>
      <exclude>tests/Mapping/InputDataLoader/S3InputDataLoaderTest.php</exclude>
      <exclude>tests/Mapping/OutputDataLoader/ABSPersistentOutputDataLoaderTest.php</exclude>
      <exclude>tests/Mapping/OutputDataLoader/OutputDataLoaderMetadataTest.php</exclude>
      <exclude>tests/Mapping/OutputDataLoader/OutputDataLoaderTest.php</exclude>
      <exclude>tests/Mapping/OutputDataLoader/RedshiftPersistentOutputDataLoaderTest.php</exclude>
    </testsuite>
    <testsuite name="mapping-general">
      <file>tests/Mapping/InputDataLoader/InputDataLoaderTest.php</file>
      <file>tests/Mapping/OutputDataLoader/OutputDataLoaderTest.php</file>
      <file>tests/Mapping/OutputDataLoader/OutputDataLoaderMetadataTest.php</file>
    </testsuite>
    <testsuite name="mapping-abs">
      <file>tests/Mapping/InputDataLoader/ABSInputDataLoaderTest.php</file>
      <file>tests/Mapping/OutputDataLoader/ABSPersistentOutputDataLoaderTest.php</file>
    </testsuite>
    <testsuite name="mapping-bigquery">
      <file>tests/Mapping/InputDataLoader/BigQueryInputDataLoaderTest.php</file>
    </testsuite>
    <testsuite name="mapping-gcs">
      <file>tests/Mapping/InputDataLoader/GCSInputDataLoaderTest.php</file>
    </testsuite>
    <testsuite name="mapping-s3">
      <file>tests/Mapping/InputDataLoader/S3InputDataLoaderTest.php</file>
    </testsuite>
    <testsuite name="mapping-redshift">
        <file>tests/Mapping/OutputDataLoader/RedshiftPersistentOutputDataLoaderTest.php</file>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
